<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>模块市场 - BrickUI 砖块UI 模块化用户界面</title>
    <link href="/static/normalize.css" rel="stylesheet">
    <link href="/static/restyle.css" rel="stylesheet">
    <link href="/static/button.css" rel="stylesheet">
    <link href="/static/top.css" rel="stylesheet">
    <link href="/static/mall/style.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/mall/js.js"></script>
</head>
<body>
{include file="public/top" /}
<div class="wrap">
    <div class="nav">
        <ul>
            <li>页面模块</li>
            <li>布局</li>
            <li>顶部</li>
            <li>头部</li>
            <li>底部</li>
            <li>侧栏</li>
            <li>菜单</li>
            <li>列表</li>
            <li>表格</li>
            <li>表单</li>
            <li>文章</li>
            <li>评论</li>
            <li>组件</li>
        </ul>
        <ul>
            <li>布局方式</li>
            <li>移动</li>
            <li>移动+平板</li>
            <li>移动+平板+中屏</li>
            <li>移动+平板+中屏+大屏</li>
            <li>平板</li>
            <li>平板+中屏</li>
            <li>平板+中屏+大屏</li>
            <li>中屏</li>
            <li>中屏+大屏</li>
            <li>大屏</li>
        </ul>
    </div>
    <div class="list">

    </div>
</div>
</body>
</html>